<h1 class="title-congrats">Congratulation, you Win</h1>
<div class="container-participations">
  <ul class="participation">
    <li class="title-participations">Rank</li>
    <li class="title-participations">Name</li>
    <li class="title-participations">Survival Time</li>
    <li class="title-participations">Kill(s)</li>
  </ul>

  <ul class="participation">
    <li class="result-participations">1</li>
    <li class="result-participations">wqkerino</li>
    <li class="result-participations">1min17</li>
    <li class="result-participations">3</li>
  </ul>
</div>
