<div class="ranking-csgo">

  <h1>World Fast Player</h1>

  <div>
  <p> pseudo </p>
  <p> Fastest game</p>
  <% @winners.each do |data| %>
    <p><%= data[:winner].user.pseudo %> <%= data[:time] %>s</p>
  <% end %>
  <%= link_to "Home", root_path, class: "laduchbtn"%>
  </div>
</div>
