<div class="ranking-csgo">
  <h1>World Fast Player</h1>

  <div class="ranking-stats">

      <% @winners.each do |data| %>
        <div class="coucou">
          <p><%= data[:winner].user.pseudo %></p>
          <p><em><%= data[:time] %>s</em></p>
        </div>
      <% end %>

  </div>
    <%= link_to "Home", root_path, class: "laduchbtn", id:"laduch3"%>
</div>
