<div class="container">
  <h1>Rules</h1>

  <p>
  Les règles sont simple :

  - ton but est de tué tous les Dragons avant les autres

  - déplace toi a l'aide des fleches

  - Amuse-toi !!!!

  </p>
</div>
