<div class="rules-container">
  <h1>Motion battle</h1>
  <h2>Rules of the game</h2>
  <ul>
    <li>The first to kill all the dragons wins the game 🦖</li>
    <li>Game recommended for ages 1 to 111</li>
    <li>Cheating is strictlohibited undenalty of non-reversible banishment from our moderation service 🚫</li>
    <li>Thank you for being polite and courteous to everyone for a better gaming experience</li>
    <li>Shop coming soon 🤫 </li>
  </ul>
</div>
<div class="rules-back">
  <%= link_to "Back", root_path, class: "laduchbtn"%>
</div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
