<div class="container-texte-deroulant">
  <div class="text-deroulant">
    <h1>Synopsis</h1>
  </div>
  <div class="text-explicatif">
    <marquee behavior="scroll" direction="up" width="80%" height="385" bgcolor="transparent" scrollamount="2">
      <h2>Dans la paisible valet de Cragbury tout se passé à merveille. <br> Sam adoré joué avec ses parents aimants.
      <br>
      Malheureusement un jour, l’affreux Saroumane décida de lâcher ses dragons pour réduire à néant ses habitants.
      <br> Sam âgée de 6 ans vue ses parents se faire dévorer.
      <br>
      Il se fit la promesse de les venger.
      <br>
      Maintenant âgée de 18 ans, Sam ne veut plus se cacher, il se sent assez fort pour libérer le monde de ses dragons et venger ses parents ! </h2>
  </marquee>
</div>
