<div class="container-texte-deroulant">
  <div class="text-deroulant">
  <h1>Synopsis</h1>
  </div>
  <div class="text-explicatif">
  <marquee behavior="scroll" direction="up" width="80%" height="385" bgcolor="transparent" scrollamount="2">
    <h2>In the peaceful valley of Cragbury everything went smoothly. <br> Sam loved playing with his loving parents.
    <br>
    Unfortunately, one day, the evil Saruman decided to unleash his dragons to destroy the inhabitants.
    <br> Sam was 6 years old and saw his parents being devoured.
    <br>
    He vowed to avenge them.
    <br>
    Now 18 years old, Sam no longer wants to hide, he feels strong enough to free the world of dragons and avenge his parents! </h2>
  </marquee>
  <div class = "button-retour-home">
    <%= link_to "Home", new_user_registration_path, class: "text-reset" %>
  </div>
</div>
