<div class="container-texte-deroulant">
  <div class="text-deroulant">
  <h1>Synopsis</h1>
  </div>
  <div class="text-explicatif">
    <marquee behavior="scroll" direction="up" width="80%" height="485" bgcolor="transparent" scrollamount="1">
      <h2>In the peaceful valley of Cragbury everything went perfectly. <br> Sam loved playing with his loving parents.
      <br>
      Unfortunately one day, the awful Saruman decided to unleash his dragons to destroy its inhabitants.
      <br> 6-year-old Sam saw her parents being devoured.
      <br>
      He promised himself to avenge them.
      <br>
      Now 18, Sam no longer wants to hide, he feels strong enough to free the world from its dragons and avenge his parents ! </h2>
    </marquee>
    <div class ="laduchbtn2">
      <%= link_to "Home", root_path, class: "text-reset" %>
    </div>
</div>
