body {
  background-image: url('backcastel.jpg');
  background-size: cover;
}

.title h1 {
  font-size: 6rem;
  margin-bottom: 7%;
  text-align:center;
  font-family: 'MedievalSharp', 'cursive';
  color: rgb(193,186,202);
  margin-top: 3%;
}

.btns-home {
  width: 80%;
  margin: auto;
}

.new-game {
  font-size: 3rem;
}

.rules-option{
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  position: relative;
  margin-top: 3%;
}

.option {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
}

.quit {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  margin-top: 4%;
}

.neon {
  font-family: 'MedievalSharp', 'cursive';
  background-color: rgba(193,186,202, .2);
  width: 45%;
  &:hover {
  transition: 1s;
  color: white;
  background-color: #e96571;
  }
}

.neon1 {
  font-family: 'MedievalSharp', 'cursive';
  color: rgb(193,186,202);
  background-color: rgba(193,186,202, .2);
  width: 20%;
  text-align: center;

  &:hover {
  transition: 1s;
  color: white;
  background-color: #e96571;
  }

  .avatar-large {
    width: 56px;
    border-radius: 50%;
  }

}
