body {
  background-image: url('BGhome.jpg');

  background-size: cover;
}

.title h1 {
  font-size: 5.5rem;
  margin-bottom: 85px;
  text-align:center;
}

.btns-home {
  width: 80%;
  margin: auto;
}

.new-game {
  font-size: 3.5rem;
  text-decoration: none !important;
  position:relative;
  text-align: center;
  bottom: 0;
  height: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 3%;
  font-family: 'MedievalSharp', cursive;
  font-size: 5.5rem;
  color: white;
  margin-bottom: 85px;
  text-shadow: 1px 1px 1px purple;
  font-family: 'MedievalSharp', cursive;
  text-align: center;
}

.rules-option{
  display: flex;
  justify-content: space-evenly;
  font-size: 3.5rem;
  position: relative;
  margin-top: 5%;
}

.option {
  font-size: 3.5rem;
  position: relative;
  text-align: center;
}

.quit {
  font-size: 3.5rem;
  position: relative;
  text-align: center;
  margin-top: 5%;
}
