.big-container{
  background-image: asset-url("font-chateau.png") !important;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-position-y: 75%;
  overflow: hidden;
  //background-repeat: no-repeat;
  //background-position: center;
  //background-color: #444;
}

.panneau {
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  img {
    height: 100%;
  }
}

.title h1 {
  font-size: 5.5rem;
  margin-bottom: 85px;
  text-align:center;
}



.bouton-home-page {
  color: #0E0101;
  text-decoration: none;
  &:hover {
    color:#0E0101 !important;
  }
}


.bouton-container {
  position: absolute;
  width: 100%;

}
