
.container{
  background-image: url("sign_in/chateau.png");
  background-size: cover;
  height :100%;
  width:100%;
}

.banner2 {
  background-image: url("sign_in/panneau.png");
  background-size: cover;
  height :100%;
  width:100%;
}
