.form-inputs {
  border-radius: 7px;
  width: 60%;
  margin: auto;
}

.form-label {
  font-size: 1.8rem;
}

.title-signup {
  h1 {
  font-family: 'MedievalSharp', 'cursive';
  margin-top: 2%;
  font-size: 2.5rem;
  color: rgb(193,186,202);
  }
}

.form-text {
  color: rgb(193,186,202);
  font-size: 15px;
  font-style: italic;
}

.btn {
  font-size: 30px;
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
  background: linear-gradient(#c4bacb00, #7B2681);
  border-radius: 7px;
  border: none;

  &:hover {
    transition: 1s;
    background-color:  #7B2681;
    color: rgb(193,186,202);
  }
}

#login {
  font-size: 20px;
}

.btn a {
  font-size: 25px;
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
  background: linear-gradient(#c4bacb00, #7B2681);
  border-radius: 7px;
  border: none;

  &:hover {
    transition: 1s;
    background-color:  #7B2681;
    color: rgb(193,186,202);
  }
}

.log-in {
  font-size: 18px;
  color: #C0BACA;
}

.email-input {
  margin-top: 10%;
}
