body {
  background-image: url('backcastel.jpg');
  background-size: cover;
  text-align: center;
}


.title h1 {
  font-size: 5.5rem;
  margin-bottom: 85px;
  text-align:center;
  font-family: 'MedievalSharp', 'cursive';
  color: rgb(193,186,202);
  margin-top: 3%;
}

.btns-home {
  width: 80%;
  margin: auto;
}

.option {
  font-size: 2.5rem;
  position: relative;
  text-align: center;
  font-family: 'Hubballi';
  padding: 1%;
}

.quit {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.0rem;
  position: relative;
  text-align: center;
  margin-top: 4%;
  font-family: 'Hubballi';
}

.form-check-label {
  color: rgb(193,186,202);
  font-family: 'Hubballi';
}

.form-check-input.is-valid {
  border-color: #0E0307 !important;
}

.label {
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
}

#login {
  font-size: 20px;
}

.form-label {
  font-size: 2rem;
  font-family: 'Hubballi';
  color: rgb(193,186,202);
}

.remember-me {
  display: flex;
  justify-content: center;
}

.form-actions {
  margin-bottom: 2%;
}

.form-control {
  width: 25%;
  margin: auto;
  opacity: 0.6;
  border-radius: 7px;
}
