.container-texte-deroulant {

  h1 {
  font-family: 'MedievalSharp', 'cursive';
  font-size: 3.05rem;
  margin-top:-1%;
  color: rgb(193,186,202);
  }

  h2 {
  color: rgb(193,186,202);
  font-family: 'Hubballi';
  font-size: 1.5rem;
  text-align: center;
  }

}

.laduchbtn2 {
  width: 10%;
  font-size: 32px;
  margin: auto;
  margin-top: 2%;
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
  background: linear-gradient(#c4bacb00, #7B2681);
  border-radius: 7px;
  border: none;

  &:hover {
    transition: 1s;
    background-color:  #7B2681;
    color: rgb(193,186,202);
  }
}
