.container-participations {
  width: 60%;
  margin: auto;
  margin-top: 10%;
  background-color: #777;
  opacity: 0.7;
}

.result-participations {
  list-style: none;
  display: inline;
}

.title-participations {
  list-style: none;
  display: inline;
}
