.title-congrats {
  text-align: center;
  margin-top: 3%;
  font-family: 'MedievalSharp', 'cursive';
  font-size: 30px;
  color: rgb(193,186,202);
}

.stats {
  display: inline;
}

.container-data {
  background-color: #777;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 7px;
  background-color: rgba(124,39,130, .4);
  color: rgb(193,186,202);
  margin: 3%;
}

.container-data1 {
background-color: #777;
margin: auto;
display: flex;
justify-content: space-evenly;
align-content: center;
border-radius: 7px;
background-color: rgba(124,39,130, .8);
color: white;
margin: 3%;
}

p {
  font-size: 24px;
  margin-top: 2%;
  font-family: 'Hubballi';
  font-weight: 900;
}

body {
  background-image: url("backcastel.jpg");
  object-fit: cover;
  background-size: cover;
}

.btn-display {
  font-family: 'Hubballi';
  font-size: 32px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 12%;

  a {
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
  background: linear-gradient(#c4bacb00, #7B2681);
  border-radius: 7px;
  border: none;

    &:hover {
      transition: 1s;
      background-color:  #7B2681;
      color: rgb(193,186,202);
    }
  }
}

.all-data {
  background-color: rgba(193,186,202, .5);
  margin: auto;
  width: 60%;
  padding: 1%;
  border-radius: 7px
}

.waiting-participations {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.0rem;
  text-align: center;
  margin-top: 1%;
  font-family: 'Hubballi';
  background-color: rgba(193,186,202, .2);
  color: white;
  width: 25%;
  margin: auto;
  padding: 0px;
}
