
  <div class ="title">
    <h1>Motion Battle </h1>
  </div>


<div class = "btns-home">
    <div class = "new-game">
      <%= link_to "New Game",  games_path, method: :post, class: "neon" %>
    </div>
    <div class = "rules-option">
      <%= link_to "Rules", root_path, class: "neon1"%>
      <%= link_to "Option", root_path, class: "neon1"%>
    </div>
    <div class = "quit">
      <%= link_to "Quit", root_path, class: "neon2"%>
    </div>
  </div>
</div>
