<div class= "container">
  <div class ="content">
    <div class ="title">
      <h1>Motion Battle </h1>
    </div>
    <div class = "section">
      <%= button_to 'New Game', games_path, methode: :post %>
    </div>
    <div class = "section-ecarter">
      <%= link_to "Rules", root_path%>
      <%= link_to "Option", root_path%>
    </div>
    <div class = "section">
      <%= link_to "Quit", root_path%>
    </div>
  </div>
  <div class="cursive">
    <h1>Motion battle</h1>
  </div>
  <div class="comic">
    <h1>Motion battle</h1>
  </div>

</div>
