
<div class="frame" id='test'>

    <div class="corner_topleft"></div>
    <div class="corner_topright"></div>
    <div class="corner_bottomleft"></div>
    <div class="corner_bottomright"></div>


    <div class="camera">
      <div class="map pixel-art">
        <div class="character" facing="down" walking="true">
          <div class="shadow pixel-art"></div>
          <div class="character_spritesheet pixel-art"></div>
        </div>
      </div>
    </div>
</div>
