<div class="container-game">
  <div class = "botton">
    <%= button_to 'Participe', participations_path, methode: :post, remote: true, class:"bouton-participe" %>
  </div>
  <div class = "game">
    <h1>Game 1</h1>
  </div>
  <div class = "pseudo">
    <ul>
      <li>the motherfucker
      </li>
    </ul>
  </div>
</div>


<%= @game.id %>



<div class= "controller" data-controller='game-subscriptions'  data-game-subscriptions-game-id-value="<%= @game.id %>">
  <div class="participations" data-game-subscriptions-target="participations">
    <% @game.participations.each do |participation| %>
      <%= render "participations/participation", participation: participation %>
    <% end %>
  </div>
  <div class= "canvas"  data-game-subscriptions-target="canvas">
  </div>
</div>
