<h1>Show Games</h1>

<%= @game.id %>

<div class= "test" data-controller='game-subscriptions'  data-game-subscriptions-game-id-value="<%= @game.id %>">
  <div class="participations" data-game-subscriptions-target="participations">
    <% @game.participations.each do |participation| %>
      <%= render "participations/participation", participation: participation %>
    <% end %>
  </div>
</div>
