<h1>Show Games</h1>



<%= button_to 'Participe', participations_path, methode: :post, remote: true  %>



<div class= "controller" data-controller='game-subscriptions'  data-game-subscriptions-game-id-value="<%= @game.id %>">
  <div class="participations" data-game-subscriptions-target="participations">
    <% @game.participations.each do |participation| %>
      <%= render "participations/participation", participation: participation %>
    <% end %>
  </div>
  <div class= "canvas"  data-game-subscriptions-target="canvas">
  </div>
</div>
