<div class="container-game" data-controller='game-subscriptions' data-game-subscriptions-game-id-value="<%= @game.id %>">
  <h1>Lobby n° <%= @game.id %></h1>
  <div id='canvas-container' data-game-subscriptions-target="gameContainer" data-user-id=<%= current_user.id %>>
    <%= render 'participations/participations', participations: @participations, hide_button: false %>
  </div>
</div>
