<div class="container-game">
  <h1>Lobby n° <%= @game.id %></h1>
  <p>Click on <em>"waiting line"</em> and wait for your friends to start the game</p>
  <div class="join-queue">
    <%= button_to "waiting line", participations_path, methode: :post, remote: true, class:"btn-queue"%>
    <div class = "player-display">
      <div class= "controller" data-controller='game-subscriptions'  data-game-subscriptions-game-id-value="<%= @game.id %>">
        <div class="participations" data-game-subscriptions-target="participations">
          <ul>
            <% @game.participations.each do |participation| %>
              <li><%=  render "participations/participation", participation: participation %>, </li>
            <% end %>
          </ul>
        </div>
        <div class= "game"  data-game-subscriptions-target="game"></div>
      </div>
    </div>
  </div>
</div>
