.container-game{
  background-image: url("paysagecartoon.jpg");
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.bouton-show {
  text-align: center;
  margin: auto;
  width: 20%;
  margin-top: 100px;
  text-decoration:none;
  color: #0E0101;
  text-decoration:none;
  font-family: "UnifrakturCook";
  font-size: 2.5rem;
  &:hover {
    color:#0E0101 !important;
  }
}




.pseudo{
  font-family: "UnifrakturCook";
  font-size: 2.0rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
}


  html, body {
    height: 100%;
  }

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
