html, body {
  height: 100%;
}


.container-game h1 {
  text-align: center;
  margin-top: 3%;
  font-family: 'MedievalSharp', 'cursive';
  font-size: 42px;
  color: rgb(193,186,202);
}

.container-game p {
  font-size: 26px;
  margin-top: 3%;
  opacity: 1;
  font-family: 'Hubballi';
  font-weight: 900;
  color: rgb(193,186,202);
  text-align: center;
}

#canvas-container {
  max-width: 1216px;
  margin: auto;
}

.btn-queue {
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
  background: linear-gradient(#c4bacb00, #7B2681);
  border-radius: 7px;
  border: none;
  font-size: 32px;
  margin-bottom: 2%;

  &:hover {
    transition: 1s;
    background-color:  #7B2681;
    color: rgb(193,186,202);
  }
}


.join-queue {
  text-align: center;
  }

.participations {
  color: rgb(193,186,202);
  display: flex;
  height: 10%;
  // width: 40%;
}

.player-display {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  grid-template-columns: repeat(1fr * 1fr);

}

.controller {
  margin: auto;
  list-style-type: circle;
  background: rgba(243, 237, 237, 0.1);
  border-radius: 7px;
  box-shadow: 0px 0px 4px 1px rgb(193,186,202);
  padding: 1%;
  width: 27%;
  display: flex;
  justify-content: flex-start;
  ;
  ul {
    opacity: 1;
  }
}
