html, body {
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.container-game h1 {
  text-align: center;
  margin-top: 3%;
  font-family: 'MedievalSharp', 'cursive';
  font-size: 64px;
  color: rgb(193,186,202);
}

.container-game p {
  font-size: 26px;
  margin-top: 3%;
  opacity: 1;
  font-family: 'Hubballi';
  font-weight: 900;
  color: rgb(193,186,202);
  text-align: center;
}

.btn-queue {
    background-color: #e96571;
    color: rgb(193,186,202);
    opacity: 0.7;
    border-radius: 7px;
    width: 16%;
    text-align: center;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 4%;
    font-size: 32px;
    border: none;
    &:hover {
      color: white;
      transition: 1s;
    }
  }

.join-queue {
  text-align: center;
  }

.participations {
  color: rgb(193,186,202);
  display: flex;
  height: 10%;
  // width: 40%;
}

.player-display {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  grid-template-columns: repeat(1fr * 1fr);

}

.controller {
  margin: auto;
  list-style-type: circle;
  background: rgba(243, 237, 237, 0.1);
  border-radius: 7px;
  box-shadow: 0px 0px 4px 1px rgb(193,186,202);
  padding: 1%;
  width: 27%;
  display: flex;
  justify-content: flex-start;
  ;
  ul {
    opacity: 1;
  }
}
