.navbar-lewagon {
  background: transparent;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-toggle {
  white-space: nowrap;
  border-radius: 50%;
  width: 45px;
  margin-top: 4%;
}
