.nav-link {
  font-size: 18px;
  color: rgb(193,186,202);
  font-family: 'MedievalSharp', 'cursive';
  background: linear-gradient(#c4bacb00, #7B2681);
  border-radius: 7px;
  border: none;

  &:hover {
    transition: 1s;
    background-color:  #7B2681;
    color: rgb(193,186,202);
  }
}
