// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "games/index";
@import "participations/index";
//div{
//  border: 1px solid black;
//}
body, html {
  overflow: hidden;
}

a {
  color: rgb(193,186,202);
  text-decoration: none;

  &:hover {
    transition: 1s;
    color: #7B2681;
    text-decoration: none;
  }
}
